<footer id="docFoot">
  <div class="fastNavWrap">
    <div class="fastNav clearfix">
     
      </div> 
  </div>
  <div class="siteFeatures">
  </div>
  <div class="footBgWrap">
    <ul id="guideList">
           <li>
        <dl>
          <dt class="guide1"><em>了解我们</em></dt>
                    <dd><a target="_blank" href="help.php?id=36">关于我们</a></dd>
                    <dd><a target="_blank" href="help.php?id=37">安全承诺</a></dd>
                    <dd><a target="_blank" href="help.php?id=38">站内通知</a></dd>
                    <dd><a target="_blank" href="help.php?id=39">商家入驻</a></dd>
                  </dl>
      </li>
           <li>
        <dl>
          <dt class="guide1"><em>新手上路 </em></dt>
                    <dd><a target="_blank" href="help.php?id=9">售后流程</a></dd>
                    <dd><a target="_blank" href="help.php?id=10">购物流程</a></dd>
                    <dd><a target="_blank" href="help.php?id=11">订购方式</a></dd>
                    <dd><a target="_blank" href="help.php?id=44">快递运输</a></dd>
                    <dd><a target="_blank" href="help.php?id=48">办理会员卡</a></dd>
                    <dd><a target="_blank" href="help.php?id=49">领现金卷</a></dd>
                    <dd><a target="_blank" href="help.php?id=50">以旧换新</a></dd>
                  </dl>
      </li>
           <li>
        <dl>
          <dt class="guide1"><em>配送与支付 </em></dt>
                    <dd><a target="_blank" href="help.php?id=15">货到付款区域</a></dd>
                    <dd><a target="_blank" href="help.php?id=16">配送支付智能查询</a></dd>
                    <dd><a target="_blank" href="help.php?id=17">支付方式说明</a></dd>
                    <dd><a target="_blank" href="help.php?id=46">支付问题</a></dd>
                  </dl>
      </li>
           <li>
        <dl>
          <dt class="guide1"><em>服务保证 </em></dt>
                    <dd><a target="_blank" href="help.php?id=21">退换货原则</a></dd>
                    <dd><a target="_blank" href="help.php?id=22">售后服务保证</a></dd>
                    <dd><a target="_blank" href="help.php?id=23">PM2.5爆表</a></dd>
                    <dd><a target="_blank" href="help.php?id=45">售后服务政策</a></dd>
                  </dl>
      </li>
           <li>
        <dl>
          <dt class="guide1"><em>联系我们 </em></dt>
                    <dd><a target="_blank" href="help.php?id=24">故障报修</a></dd>
                    <dd><a target="_blank" href="help.php?id=25">售后网点查询</a></dd>
                    <dd><a target="_blank" href="help.php?id=26">关于我们</a></dd>
                    <dd><a target="_blank" href="help.php?id=47">联系客服</a></dd>
                  </dl>
      </li>
         </ul>
  </div>
  <div id="aboutNEST"> 
   
   
  <a href="article.php?id=5" rel="nofollow">公司简介</a> -    
  <a href="article.php?id=4" rel="nofollow">联系我们</a> -    
  <a href="article.php?id=3" rel="nofollow">咨询热点</a> -    
  <a href="article.php?id=2" rel="nofollow">隐私保护</a> -    
  <a href="article.php?id=1" rel="nofollow">免责条款</a>   
   
  <br>
    增值电信业务经营许可证：蜀ICP备15018011号-1&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站相关资质证明</a> <br>
    <span class="copyTxt">四川吉晟生物医药有限公司版权所有 ©1997-2014</span> </div>
</footer>